Flask==2.2.2
Flask-Cors==3.0.10
werkzeug==2.2.2
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.39
Flask-Migrate==3.1.0
PyMySQL==1.0.2
Flask-Bcrypt==1.0.1
PyJWT==2.6.0
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
python-dotenv==0.21.0
Flask-JWT-Extended==4.6.0
redis==5.0.4
flask-redis==0.5.0
openpyxl==3.1.2
pandas==2.0.3


paho-mqtt==2.1.0
